@font-face{ 
  font-family: 'Nexa'; 
  src:  url('Nexa-bold.eot'); 
  src:  url('Nexa-bold.eot?#iefix') format('embedded-opentype'), 
        url('Nexa-bold.woff') format('woff'), 
        url('Nexa-bold.ttf') format('truetype'), 
        url('Nexa-bold.svg#webfont') format('svg'); 
}

#navigation {font-family: 'Nexa-bold', Arial, sans-serif;}
