/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require font-awesome
 */

@font-face {
    font-family: 'nexa_slab_lightregular';
    src: url('/assets/nexa-font/nexaslab-light-webfont.eot');
    src: url('/assets/nexa-font/nexaslab-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/nexa-font/nexaslab-light-webfont.woff') format('woff'),
         url('/assets/nexa-font/nexaslab-light-webfont.ttf') format('truetype'),
         url('/assets/nexa-font/nexaslab-light-webfont.svg#nexa_slab_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nexa_lightregular';
    src: url('/assets/nexa-font/nexa-light-webfont.eot');
    src: url('/assets/nexa-font/nexa-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/nexa-font/nexa-light-webfont.woff') format('woff'),
         url('/assets/nexa-font/nexa-light-webfont.ttf') format('truetype'),
         url('/assets/nexa-font/nexa-light-webfont.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nexa_xboldregular';
    src: url('/assets/nexa-font/nexa-xbold-webfont.eot');
    src: url('/assets/nexa-font/nexa-xbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/nexa-font/nexa-xbold-webfont.woff') format('woff'),
         url('/assets/nexa-font/nexa-xbold-webfont.ttf') format('truetype'),
         url('/assets/nexa-font/nexa-xbold-webfont.svg#nexa_xboldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
